<body>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container">



  <img class="rounded mx-auto d-block mainpicture" src = "https://umaine.edu/bioengineeringclub/wp-content/uploads/sites/457/2018/07/Biomedical-Engineering-Society-Logo-From-Facebook-Page-634x199.jpg" alt = "BMES Logo">

  

<br>

<% @events.in_groups_of(3,false) do |group| %>
<div class="row">
  <% group.each do |event| %>
  <div class="col-sm-4 event-card">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title crd-title"><%= event.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= event.place %></h6>
        <p class="card-text"><%= event.description %></p>
        <p class="card-text">Start Time: <%= event.starttime.strftime("%I %M %p %h-%d-%Y") %></p>
        <% if event.endtime.nil? %>
        <% else %>
          <p class="card-text">End Time: <%= event.endtime.strftime("%I %M %p %h-%d-%Y") %></p>
        <% end %>
        <%= link_to("Details", event_path(event), :class => 'action show', class: "btn btn-primary")%>
        <%= link_to("Event Check-in", {:controller => "participations", :action => "new", :event_id => event.id}, class: "btn btn-primary") %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

</div>

</body>
