
<head>
<style>
  * {
    box-sizing: border-box;
  }
  .backsplash {
      height: 400px;
      background-image: linear-gradient(to top right, #00a8f3, rgb(10, 74, 117));
      margin-top: 0%;
  }
  .progress{
    float:left; width:60%; margin-right:-1%; height:18%
  }
  @media only screen and (max-width: 600px) {
    html {
      font-size:9px
    }
    .progress{
      float:left; width:37%; margin-right:-1%; height:15%
    }
  }   
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
      html {
        font-size:12px
      }
      .progress{
        float:left; width:30%; margin-right:-1%; height:18%
      }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    html {
        font-size:16px
    }
    .progress{
      float:left; width:50%; margin-right:-1%; height:18%
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    html {
        font-size:16px
    }
    .progress{
      float:left; width:60%; margin-right:-1%; height:18%
    }
  }
</style>
</head>
<body>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container">



  <img class="rounded mx-auto d-block mainpicture" src = "https://umaine.edu/bioengineeringclub/wp-content/uploads/sites/457/2018/07/Biomedical-Engineering-Society-Logo-From-Facebook-Page-634x199.jpg" alt = "BMES Logo">

  

<br>
  <% Date.beginning_of_week = :sunday %>
  <%= month_calendar(events: @events) do |date, events| %>
    <span class="date-str"><%= date.day %></span>
      <% events.each do |event| %>
        <% if event.starttime.to_date == date %>
          <div style="background-color:#117099;color:white;text-align:center;font-size:14px;font-size:.875rem;">
            <%= event.title %>
            <%= event.starttime.strftime("%I:%M %p") %>
            <br ></br>
            <%= link_to("Details", event_path(event), :class => 'action show', class: "a-primary")%>
            <%= link_to("Check-in", {:controller => "participations", :action => "new", :event_id => event.id}, class: "a-primary") %>
          </div>
          <br>
        <% end %>
        <%= link_to("Details", event_path(event), :class => 'action show', class: "btn btn-primary")%>
        <%= link_to("Event Check-in", {:controller => "events", :action => "new", :event_id => event.id}, class: "btn btn-primary") %>
      </div>
    </div>
  </div>
  <% end %>


</div>

</body>
