<head>
  <style>
    * {
      box-sizing: border-box;
    }
    .backsplash {
        height: 400px;
        background-image: linear-gradient(to top right, #00a8f3, rgb(10, 74, 117));
        margin-top: 0%;
    }
    .progress{
      float:left; width:60%; margin-right:-1%; height:18%
    }
    @media only screen and (max-width: 600px) {
      html {
        font-size:9px
      }
      .progress{
        float:left; width:37%; margin-right:-1%; height:15%
      }
    }   
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        html {
          font-size:12px
        }
        .progress{
          float:left; width:30%; margin-right:-1%; height:18%
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      html {
          font-size:16px
      }
      .progress{
        float:left; width:50%; margin-right:-1%; height:18%
      }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      html {
          font-size:16px
      }
      .progress{
        float:left; width:60%; margin-right:-1%; height:18%
      }
    }
  </style>
</head>

<body>
  <div class = "backsplash"></div>
  <p style = "text-align:center; margin-top:-70px; color:white;font-size:300%"> <%=@user.name%> <p>
  <center>
    <div class = "container" style = "margin-top:50px;">
      <div class = "row">
        <div class = "col">
          <h3 style = "text-decoration:underline"> <%=@user.name%>'s Points </h3>
          <h5>General Meeting Points: <%=@user.general_meeting_points %> </h5>
          <h5>Mentorship Meeting Points: <%=@user.mentorship_meeting_points %> </h5>
          <h5>Social Meeting Points: <%=@user.social_points %> </h5>
          <h5>Total Meeting Points: <%=@user.total_points %> </h5>
        </div>
        <div class = "col" style ="margin-left:10%">
          <h3 style = "text-decoration:underline"> Status: <% if @user.total_points >= 5 %>Active Member<%else%>Member<%end%></h3>

          <p style = "float:left; margin-right:2%">Member</p>
          <div class="progress" style = "">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%=@user.total_points*20%>%" aria-valuenow="<%=@user.total_points*20 %>" aria-valuemin="0" aria-valuemax="100">
            <%=@user.total_points%>/5 Points</div>
          </div>
          <p style = "margin-left:-10%">Active Member</p>
        </div>
      </div>
    </div>
    
    <div class = "container" style = "margin-top:50px;">
      <h3 style = "text-decoration:underline;"> <%=@user.name%>'s Recent Events </h3>
      <div class = "row">
        <div class = "col">
          <% if (@events.length == 0) %>
            <h5 > None! </h5>
          <% else %>
            <% @events.each do |event| %>
              <div class="card" style = "width: 40%">
                <div class="card-body" >
                  <h2 style = "text-decoration:underline"><%= event.title %></h2> <br>
                  <h6>Date: <%= event.starttime %> </h6> <br>
                  <h6>Event Type: <%= event.eventtype %> </h6> <br>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <br>
    </center>
</body>